

.logo-container {
    z-index: 0;
    width: 800px;
    height: 609px;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 45%;
    left: auto;
    margin: auto;


    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        animation: backInRight 1s linear both;
        animation-delay: 4s;
        z-index: 1;
    }
}
